a {
  text-decoration: none;
  display: block;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: rgb(80, 77, 77);
  height: 50px;
}

.header-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.header-item a {
  margin: 15px 0 0 100px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.664);
  transition: all 0.5s;
}

.header-item a:hover {
  color: rgba(255, 255, 255, 0.973);
}

main {
  height: 837px;
  margin: 0;
}

.first-main {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 570px;
}

.first-main img {
  width: 760px;
}

.first-main p {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.979);
  font-size:60px;
}

.second-main {
  background-color: rgb(80, 77, 77);
  height: 267px;
}

.second-main-lists {
  list-style: none;
  margin: 0;
  display: grid;

  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
}

.second-main img {
  width: 200px;
}

.footer {
  height: 50px;
  background-color: rgb(236, 236, 236);
}

.footer p {
  margin: 0;
  padding-top: 12px;
}